
  BODY {
    background-color: #000;
    margin: 0px;
    font-family: monospace;
    overflow: hidden;
  }

  A {
    color: #fff;
    text-decoration: initial;
  }

  .header {
    position: fixed;
    padding: 10px;
    display: block;
    top: 20px;
    left: 20px;
    right: 20px;
    color: rgb(100, 184, 208);
    font-size: 5em;
    font-family: 'Sonsie One', cursive;
    text-shadow: 2px 2px 2px #FFFFFF;
    opacity: .7;
    text-align: center;
  }

  .subheader {
    position: fixed;
    padding: 10px;
    display: block;
    top: 4em;
    left: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: 'Sonsie One', cursive;
    text-shadow: 2px 2px 5px #000000;
    opacity: .7;
    text-align: center;
  }

  .footer {
    position: fixed;
    padding: 10px;
    display: block;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-family: 'Sonsie One', cursive;
    text-shadow: 2px 2px 5px #000000;
    opacity: .7;
    text-align: center;
  }
