<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Yuvalbennaim.GitHub.io : ">
    <link href="css/site.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
    <script src="js/data.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/angular/angular.1.2.6.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-resource.min.js"></script>
    <script src="js/angular/modules/yuval_directives.js"></script>
    <script src="js/angular/modules/pagecontrollers.js"></script>

    <title>Yuvalbennaim.GitHub.io</title>
  </head>

  <body ng-app="AppModule" ng-controller="RouteController">
    <yb-grid ng-show="dataService.showGrid"></yb-grid>

    <yb-bubbles count="25" animate="dataService.animateBubbles" dimmer="dataService.viewShowing" ng-click="toggleContinue()"></yb-bubbles>


    <div class="header" ngx-hide="dataService.viewShowing">
      <div>Yuval Bennaim</div>
      <div class="subheader">User Interfaces Architect</div>
    </div>

    <div class="view-animate-container" ng-show="dataService.viewShowing">
      <ng-view id="view" ng-animate="'slide'" class="{{dataService.transitionClass}}"></ng-view>  
      <yb-loading width="125" height="125" show="dataService.pageLoading" />
    </div>

     <div class="contentheadernav" ng-show="dataService.currentPage != 'home'">
      <a ng-click="goBack()">&lt;Back</a>
    </div>

    <div class="footer">
      <a class="link" ng-click="viewPage('/#home')">Home</a> |
      <a class="link" ng-click="viewPage('/#resume')">Resume</a> | 
      <a class="link" ng-click="viewPage('/#portfolio')">Portfolio</a> | 
      <a class="link" ng-click="viewPage('/#skills')">Skills | 
      <a href="https://github.com/yuvalbennaim/yuvalbennaim.github.io" target="_new">GitHub</a>
    </div>
  </body>
</html>
