<div ng-controller="SkillsCtrl" ng-init="init()">

	<div class="contentheader">
    My Skills
  </div>

  <div ng-class="dataService.pageLoading ? 'scrollWrapperInTransition' :'scrollWrapper'">
  	<div class="skillBarWrapper">

      <div class="scale">
        <div ng-repeat="unit in dataService.scale" class="scaleunit">
          <div ng-class="parseInt(dataService.currentMarker) == unit ? 'scaleUnitLabelSelected' : 'scaleUnitLabel'">{{unit}}</div>
        </div>
      </div>

  		<div class="skillBarEachWrapper" ng-repeat="skill in dataService.skills | orderBy:predicate">
        <div class="skillBar" ng-style="generateBarStyle()" ng-mouseover="dataService.currentMarker = skill.score" ng-mouseout="dataService.currentMarker = null">
        	<span class="skillLabel">{{skill.name}}</span>
        </div>
    </div>
  </div>	
</div>




