<div ng-controller="SkillsCtrl" ng-init="init()">

	<div class="contentheader">
    My Skills
  </div>

  <div ng-class="dataService.pageLoading ? 'scrollWrapperInTransition' :'scrollWrapper'">
  	<div class="skillBarWrapper">

      <div class="scale">
        <div class="scaleunit" ng-repeat="unit in dataService.scale">{{unit}}</div>
      </div>

  		<div class="skillBarEachWrapper" ng-repeat="skill in dataService.skills | orderBy:predicate">
        <div class="skillBar" ng-style="generateBarStyle()">
        	<span class="skillLabel">{{skill.name}}</span>
        </div>
    </div>
  </div>	
</div>




