<div ng-controller="LoginCtrl" ng-init="init()">

	<table class="absoluteCentered loginTable">
		<tr>
			<td class="homeTitle" ng-click="goForward()">State of the Union</td>
		</tr>

		<tr>
			<td>
			    <form class="form-signin" ng-show="!dataService.loading && dataService.loginReady">       
				    <h2 class="loginHeader">Please login</h2>
				    <input type="text" class="form-control" style="margin-bottom: 20px;" name="username" placeholder="Email Address" autofocus="" /><p>
				    <input type="password" class="form-control" name="password" placeholder="Password" /><p>     
				    <label class="checkbox">
				    	<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe">Remember me
				    </label><p>
				    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Login</button><p> 
			    </form>
		  </td>
		</tr>

		<tr>
			<td class="comcastTitle" ng-click="goForward()">COMCAST</td>
		</tr>
	</table>

</div>

